# Banco de dados
database/*.db
database/*.sqlite
database/*.sqlite3

# Cache do Python
__pycache__/
*.py[cod]

# Ambiente virtual
.venv/
venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Sistema Operacional
.DS_Store
Thumbs.db